body {
    background-color: #242526;
    color: #ffffff;
    font-family: monospace;
}

.content {
    max-width: 660px;
    margin: 3rem auto;
    padding: 0 1rem;
}

p {
    font-size: 13px;
}

a {
    color: #ffffff;
}
